@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Bankir-Retro";
  src: url("fonts/Bankir-Retro.eot");
  src: local("☺"), url("../fonts/fonts/Bankir-Retro.woff") format("woff"), url("fonts/Bankir-Retro.ttf") format("truetype"), url("fonts/Bankir-Retro.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BankGothicMdBT";
  src: url("../fonts/BankGothicMdBT.eot");
  src: local("☺"), url("../fonts/BankGothicMdBT.woff") format("woff"), url("../fonts/BankGothicMdBT.ttf") format("truetype"), url("../fonts/BankGothicMdBT.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  background-color: black;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.wrapper__background {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
@media (max-width: 968px) {
  .wrapper__background {
    position: absolute;
  }
}

.wrapper__background__left {
  display: block;
  width: 50%;
  background: url("../source/vectors/purple.svg") bottom left/auto 50% no-repeat;
  margin: 0 0 27px 0;
}
@media (max-width: 1600px) {
  .wrapper__background__left {
    height: 70%;
    bottom: 0;
    position: absolute;
  }
}
@media (max-width: 968px) {
  .wrapper__background__left {
    height: 50%;
    width: 70%;
    position: absolute;
    left: 0;
    top: -17.5%;
  }
}

.wrapper__background__right {
  display: block;
  width: 50%;
  background: url("../source/vectors/orange.svg") bottom right/auto 100% no-repeat;
}
@media (max-width: 1600px) {
  .wrapper__background__right {
    height: 70%;
    bottom: 0;
    right: 0;
    position: absolute;
  }
}
@media (max-width: 968px) {
  .wrapper__background__right {
    height: 50%;
    width: 70%;
    position: absolute;
    right: 0;
    bottom: -5%;
  }
}

.anchor {
  display: inline-block;
  position: relative;
  height: 1px;
  width: 1px;
}

.header {
  position: fixed;
  height: 90px;
  width: 100%;
  z-index: 1;
  flex-grow: 1;
}
@media (max-width: 968px) {
  .header {
    height: 70px;
  }
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: black;
}

.header__container {
  margin: 0 auto;
  max-width: 1180px;
  z-index: 2;
}
@media (max-width: 968px) {
  .header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #2a2f2c;
    transition: all 0.3s ease 0s;
    opacity: 0.9;
  }
  .header__container.active {
    top: 0;
  }
}

.header__border {
  width: 100%;
  position: absolute;
  top: 90px;
  height: 1.5px;
  background-color: #f98816;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f98816 25%, #ff5db1 51%, #c147ab 78%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f98816", endColorstr="#c147ab",GradientType=1 );
  /* IE6-9 */
  z-index: 3;
}
@media (max-width: 968px) {
  .header__border {
    top: 70px;
    height: 2px;
  }
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
@media (max-width: 968px) {
  .nav__menu {
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
  }
}

.nav__menu__list {
  display: flex;
  justify-content: flex-end;
}

.nav__menu__list-item {
  font-family: "BankGothicMdBT";
  font-size: 16px;
  line-height: 17px;
  z-index: 3;
}
@media (max-width: 968px) {
  .nav__menu__list-item li {
    padding: 160px 0 0 0;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: calc(16px + 16 * ((100vw - 320px) / (1180 - 320)));
  }
}

.item__link {
  color: #36c9a4;
  padding: 0 15px;
}
.item__link:hover {
  color: white;
}

.nav__menu__links {
  z-index: 3;
}
.nav__menu__links img {
  padding: 0 18px;
}
@media (max-width: 968px) {
  .nav__menu__links {
    padding: 15px 0;
  }
  .nav__menu__links img {
    padding: 20px 20px;
  }
}

.nav__container__burger {
  display: none;
}
@media (max-width: 968px) {
  .nav__container__burger {
    display: block;
    position: absolute;
    width: 40px;
    height: 28px;
    top: 24px;
    right: 14px;
    cursor: pointer;
    z-index: 4;
    background: linear-gradient(43.78deg, rgba(255, 3, 200, 0.5) 7.14%, rgba(255, 0, 61, 0.5) 105.1%);
  }
  .nav__container__burger.active {
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(63.9deg, rgba(0, 255, 255, 0.5) 0%, rgba(102, 255, 204, 0.5) 100%);
    width: 30px;
  }
  .nav__container__burger span {
    background: linear-gradient(55.01deg, #00FFFF 0%, #66FFCC 100%);
    position: absolute;
    width: 30px;
    height: 2px;
    top: 13px;
    right: 4.5px;
    transition: all 0.3s ease 0s;
    z-index: 3;
  }
  .nav__container__burger span:first-child {
    top: 4px;
    transition: all 0.3s ease 0s;
  }
  .nav__container__burger span:last-child {
    top: 21px;
    transition: all 0.3s ease 0s;
  }
  .nav__container__burger.active span {
    left: 0px;
    transform: scale(0);
    background: linear-gradient(264.69deg, #FF003D -7.43%, #FF03C8 100%);
  }
  .nav__container__burger.active span:first-child {
    transform: rotate(45deg);
    top: 12.5px;
  }
  .nav__container__burger.active span:last-child {
    transform: rotate(-45deg);
    top: 12.5px;
  }
}

.section {
  min-height: 100vh;
}
@media (max-width: 968px) {
  .section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
@media (max-width: 968px) {
  .main {
    flex-direction: column;
    padding: 0px;
  }
}

.main__head {
  padding: 230px 60px 0 0;
  color: white;
}
@media (max-width: 968px) {
  .main__head {
    width: 100%;
    padding: 0;
    order: 2;
  }
}

.main__head__header {
  line-height: 38px;
  font-family: "BankGothicMdBT";
  letter-spacing: 10px;
  text-transform: capitalize;
  padding: 0 0 0 7px;
  font-size: calc(20px + 26 * ((100vw - 320px) / (1180 - 320)));
}
@media (max-width: 968px) {
  .main__head__header {
    text-align: center;
    padding: 15px 0;
    letter-spacing: 5px;
  }
}
@media (max-width: 480px) {
  .main__head__header {
    padding: 7px 0;
  }
}

.main__head__description {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: calc(14px + 16 * ((100vw - 320px) / (1180 - 320)));
  line-height: 42px;
  padding: 15px 40px 0 5px;
}
@media (max-width: 968px) {
  .main__head__description {
    text-align: center;
    padding: 0 35px;
    line-height: 15px;
  }
}

.main__head__logo {
  padding: 230px 18px 0 0;
  display: flex;
  flex: 0 0 300px;
  justify-content: center;
  order: 1;
}
.main__head__logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 968px) {
  .main__head__logo img {
    width: 30%;
  }
}
@media (max-width: 968px) and (max-height: 420px) {
  .main__head__logo img {
    width: 25%;
  }
}
@media (max-width: 669px) and (max-height: 380px) {
  .main__head__logo img {
    width: 25%;
  }
}
@media (max-width: 968px) {
  .main__head__logo {
    flex: 0 0 150px;
    padding: 100px 0 25px 0;
  }
}

.article {
  display: block;
}

.article__container {
  margin: 0 0 35px 0;
  background-color: #fff;
  position: relative;
}

.article__about {
  padding: 50px 30px;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 20px;
}

.article__about__title {
  font-family: "BankGothicMdBT";
  font-size: calc(14px + 8 * ((100vw - 320px) / (1180 - 320)));
  text-decoration: underline;
  margin: 0 0 20px 0;
}

.article__about__header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px 0;
  font-size: calc(14px + 2 * ((100vw - 320px) / (1180 - 320)));
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.article__about__header-first {
  max-width: 500px;
  padding: 0 10px 0 0;
}
@media (max-width: 968px) {
  .article__about__header-first {
    padding: 0 5px 0 0;
  }
}

.about__header__description {
  display: inline-block;
}

.about__header__description-uppercase {
  display: inline;
  padding: 0 2px;
  font-weight: 700;
}

.article__about__header-second {
  max-width: 500px;
  padding: 0 0 0 10px;
}
@media (max-width: 968px) {
  .article__about__header-second {
    padding: 0 0 0 7px;
  }
}

.article__about__header__image {
  flex: 0 0 1000px;
}
.article__about__header__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article__about__header-article {
  margin: 60px 0;
}

.about__article__text {
  font-family: "Montserrat", sans-serif;
  font-size: calc(14px + 2 * ((100vw - 320px) / (1180 - 320)));
}

.article__about__footer {
  font-family: "Montserrat", sans-serif;
}

.reward__title {
  font-weight: 700;
  padding: 0 0 10px 0;
  font-size: calc(14px + 4 * ((100vw - 320px) / (1180 - 320)));
}

.about__footer__description {
  padding: 0 0 20px 0;
  font-size: calc(14px + 2 * ((100vw - 320px) / (1180 - 320)));
}

.article__about__footer-image {
  flex: 0 0 1000px;
}
.article__about__footer-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article__about__footer-important {
  padding: 20px 0;
  font-size: calc(14px + 2 * ((100vw - 320px) / (1180 - 320)));
}

.article__container-roadmap {
  position: relative;
  margin: 0 auto 30px auto;
  background-color: #fff;
}

.article__roadmap {
  padding: 50px 30px;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 20px;
}

.article__roadmap__title {
  font-family: "BankGothicMdBT";
  font-size: 26px;
  text-decoration: underline;
  margin: 0 0 20px 0;
}

.article__roadmap__roadmap__container {
  display: flex;
  flex: 0 0 33.333%;
  justify-content: center;
}

.article__roadmap__description {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.article__roadmap__description-goal {
  line-height: 40px;
  font-family: "BankGothicMdBT";
}
@media (max-width: 968px) {
  .article__roadmap__description-goal {
    line-height: 20px;
  }
}

.goal-achieved {
  display: block;
  text-align: right;
}
@media (max-width: 968px) {
  .goal-achieved {
    padding: 6px 5px;
  }
}
.goal-achieved img {
  position: relative;
  top: 12px;
  right: 4px;
}
@media (max-width: 968px) {
  .goal-achieved img {
    top: 0px;
    right: 15px;
  }
}
.goal-achieved:last-child {
  line-height: normal;
}
.goal-achieved:last-child img {
  position: relative;
  top: 6px;
}

.goal {
  display: block;
  text-align: right;
}

.article__roadmap__description-image {
  flex: 0 0 30px;
  margin: 0 auto;
}
.article__roadmap__description-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 968px) {
  .article__roadmap__description-image {
    flex: 0 0 15px;
  }
}

.image__date {
  font-family: "BankGothicMdBT";
  font-size: 26px;
  padding: 10px;
  text-align: center;
}

.article__roadmap__description-calendar {
  font-family: "BankGothicMdBT";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendar__image {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 50px;
}
.calendar__image img {
  object-fit: cover;
  width: 50%;
  height: 100%;
}

.goal-calendar {
  display: block;
  text-align: left;
}

.footer {
  position: relative;
  flex-shrink: 0;
}

.footer__container {
  max-width: 400px;
  margin: 0 auto;
  flex-shrink: 0;
}

.footer__upper {
  display: flex;
  justify-content: space-between;
}

.footer__lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 35px 0 0 0;
}

.footer__lower__logo {
  padding: 0 0 20px 0;
}

.footer__lower__text {
  text-align: center;
  font-family: "BankGothicMdBT";
  font-size: 24px;
  line-height: 25px;
  color: white;
  opacity: 0.5;
  padding: 0 0 15px 0;
}